* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1.2em;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 100px;
    gap: 0.2em;
    text-align: center;
    grid-template-areas: 
    "header header header header"
    "main main empty aside"
    "footer footer footer footer";
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

header {
    background: #ffa500;
    grid-area: header;
}

main {
    background: #6495ed;
    grid-area: main;
}

aside {
    background: #f08080;
}

footer {
    background: #85c985;
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px 50px 50px 100px;
        grid-template-areas: 
        "header"
        "main"
        "empty"
        "aside"
        "footer";
    }
}