:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    gap: 0.2em;
    grid-template-areas:
    "nav nav nav nav"
    "aside main main main"
    "aside content1 content2 content3"
    "aside footer footer footer";
    font-family: monospace;
    font-family: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
    text-align: center;
}

nav {
    background: #ccdcfa;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main {
    background: #c9e1ff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

aside {
    background: #99cae9;
    grid-area: aside;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1 {
    background: #b3c5e7;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2  {
    background: #91c1f1;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3 {
    background: #a6d7ee;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer {
    background: rgba(56, 56, 243, 0.623);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1fr 0.5fr;
        grid-template-areas: 
        "nav"
        "aside"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }

}