body {
    background: #ffecae;
    color: #ffecae;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: grid;
    grid-template: 40px 200px 40px/ repeat(12, 1fr);
    gap: 3px;
    text-align: center;
    /* justify-items: center;
    align-items: center; */
}


.header {
    background: #85c4b4;
    grid-column: 1 / -1;
}

.menu {
    background:  #fe7361;
    grid-column: 1 / 2; /*starts at column 1 and ends at the end (when we dont know hown many columns there is)*/
    grid-row: 2 / 3;
}

.content {
    background: #85c4b4;
    grid-column: 2 / -1;
    align-self: self-end;
    justify-self: center;
}

.footer {
    background: #fab25f;
    grid-column: 1 / -1 /* span 2;  start at column 1 and span across the 2 column lines*/
}
