body {
    background: #ffecae;
    color: #ffecae;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: grid;
    height: 100vh;
    gap: 3px;
    grid-template: 40px auto 40px / repeat(12, 1fr);
    grid-template-areas: 
        ". h h h h h h h h h h ."
        "m c c c c c c c c c c c"
        ". f f f f f f f f f f .";
}


.header {
    background: #85c4b4;
    grid-area: h;
}

.menu {
    background:  #fe7361;
    grid-area: m;
}

.content {
    background: #85c4b4;
    grid-area: c;
}

.footer {
    background: #fab25f;
    grid-area: f;
}
