body {
    background: #ffecae;
    color: #ffecae;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 75px;
    grid-auto-flow: dense;

}

.container img{
   width: 100%;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    /* grid-area: span 2 / span 2; */
    grid-column: span 2;
    grid-row: span 2;
}