@font-face {
    font-family: 'Inter';
    src: url(Inter/static/Inter_18pt-MediumItalic.ttf);
}

@font-face {
    font-family: 'Inter II';
    src: url(Inter/static/Inter_18pt-Regular.ttf);
}

.semestre {
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto;
        min-height: 600px;
    }

    h1,h2 {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 10px;
        font-family: 'Inter';
    }

    .cadeiras {
        width: 300px;
        margin: 20px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-family: 'Inter II';
    }


    .cadeiras img {
        width: 50%;
        display: block;
        margin: auto;
        transition: transform 0.3s ease-in-out;
    }

    .cadeiras img:hover {
        transform: scale(1.05);
    }

    .cadeiras a {
        text-decoration: none;
        color: #000;
    }

    .descricao {
        padding: 20px;
        text-align: center;
    }


    .arrow {
        width: 300px;
        margin: 20px;
    
        padding-top: 10rem;
        text-align: right;
    }
    .arrow #right_arrow {
        text-decoration: none;
        color: cornflowerblue;
        font-size: 2rem;
        text-align: right;
        width: 25px;
    }



    
    /* Estilos para o rodapé */
    /*.footer {
        background-color: #002060;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        text-align: left;
        font-size: 14px;
    }

    .footer-column {
        width: 45%;
    }

    .footer-column h3 {
        margin-bottom: 10px;
    }

    .footer-column p {
        margin: 5px 0;
        font-size: 14px;
    }*/

