@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box.active {
    display: block;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
}


button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #eee;
    font-weight: 600;
    margin-bottom: 20px;
    transition: 0.5s ;
}

button:hover {
    background: #6884d3;
}

p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
    text-decoration: none;
    color: #7494ec;
}

p a:hover {
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
}

span {
    color: #7494ec;
}

.box p{
    font-size: 22px;
}

.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}
